@import url('http://fonts.googleapis.com/css?family=Roboto:100,300,400,700&subset=latin,latin-ext');
body {
    color: #6f6f6f;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 13px;
    background: #ffffff;
    word-wrap: break-word;
}

container {
    min-height: 100%;
    position: relative;
}

img {
    border: 0px;
}

h1 {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a,
a:hover,
a:visited,
a:link {
    color: #3f3f3f;
}

#ogl_id {
    font-weight: bold;
    float: right;
    padding: 5px;
    background: url('../../images/ico_id.png') no-repeat;
    background-size: 15px;
    padding: 0 0 0 18px;
}

#drukuj {
    font-weight: bold;
    float: left;
    cursor: pointer;
    padding: 5px;
    margin: 0 0 0 5px;
    background: url('../../images/print_gray.png') no-repeat;
    background-size: 15px;
    padding: 0 0 0 18px;
}

#drukuj:hover {
    background: url('../../images/print.png') no-repeat;
    background-size: 15px;
    padding: 0 0 0 18px;
}

#bitcoin {
    font-size: 14px;
}

#bitcoin img {
    width: 50%;
    height: 50%;
}

#cena {
    font-size: 15px;
}

#cena b {
    font-size: 18px;
}

#zglos {
    font-weight: bold;
    float: left;
    cursor: pointer;
    padding: 5px;
    background: url('../../images/error_gray.png') no-repeat;
    background-size: 15px;
    padding: 0 0 0 18px;
}

#zglos:hover {
    background: url('../../images/errore.png') no-repeat;
    background-size: 15px;
    padding: 0 0 0 18px;
}

#form_all {
    z-index: 1010;
    position: fixed;
    text-align: center;
    background: url('../../images/ptlo.png');
    top: 0px;
    left: 0px;
    dispaly: none;
    height: 100%;
    width: 100%;
    display: none;
}

#form_tlo {
    margin: 10% auto 0 auto;
    background: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 200px;
    width: 400px;
}

#reklama_p {
    font-size: 15px;
}

#reklama_p b {
    font-size: 16px;
}

#reklama_tu {
    font-weight: bold;
    color: #0000FF;
}

#reklama_bok {
    width: 210px;
    height: 100px;
    background-color: #0000FF;
    color: #fff;
    font-size: 18px;
    text-align: center;
}

#form_title {
    float: left;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #3d3d3d;
}

#form_info {
    text-align: center;
    width: 380px;
    height: 20px;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #3d3d3d;
}

#form_txt {
    text-align: center;
    width: 380px;
    padding: 25px 5px 5px 5px;
    font-size: 12px;
    font-weight: bold;
    color: #3d3d3d;
}

#form_close {
    float: right;
    margin: 5px;
    width: 20px;
    height: 20px;
    background: url('../../images/close.gif');
    background-size: 20px;
    cursor: pointer;
}

.usun {
    width: 21px;
    height: 21px;
    cursor: pointer;
    background: url('../../images/delete.png');
    background-size: 21px;
    float: right;
}

.uusun {
    width: 26px;
    height: 26px;
    cursor: pointer;
    background: url('../../images/2.png');
    background-size: 26px;
    float: right;
}

.ulubione {
    width: 26px;
    height: 26px;
    cursor: pointer;
    background: url('../../images/0.png');
    background-size: 26px;
    float: right;
}

.ulubione:hover {
    background: url('../../images/1.png');
    background-size: 26px;
}

.d_info {
    border: 2px solid #dddddd;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 2px;
    background: white;
    font-weight: bold;
    z-index: 1210;
    position: absolute;
    display: none;
    left: 1px;
    top: 1px;
    width: 100px;
    text-align: center;
}

.site_head_all {
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#3994f5', endColorstr='#0f5efc');
    background: -webkit-gradient(linear, left top, left bottom, from(#3994f5), to(#0f5efc));
    background: -o-linear-gradient(top, #3994f5, #0f5efc);
    box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 1);
}

.img_mini {}

.site_head {
    margin: 0 auto;
    width: 963px;
    clear: both;
}

.site_head_logo_all {
    height: 70px;
    clear: both;
}

.site_head_logo {
    margin: 0 auto;
    width: 1023px;
    height: 80px;
    clear: both;
}

.site_head_logo_left {
    float: left;
    width: 400px;
    padding: 20px 5px 5px 5px;
    text-align: left;
}

#logo {
    width: 8%;
    height: 8%;
    margin-right: 1%;
    margin-top: 2%;
}

.site_head_logo_left a {
    font-size: 28px;
    font-weight: bold;
    color: #0f5efc;
    text-decoration: none;
}

.site_head_logo_right {
    float: right;
    width: 530px;
    padding: 5px 0px 5px 5px;
    text-align: right;
}

.site_head_menu_all {
    height: 36px;
}

.site_head_m {
    width: 963px;
    height: 36px;
    margin: 0px auto 0px auto;
}

.site_menu {
    display: block;
    width: 963px;
    margin: 0 auto 20px auto;
    background: #0f5efc;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='##FF3300', endColorstr='#FF3300');
    background: -webkit-gradient(linear, left top, left bottom, from(#FF3300), to(#FF3300));
    background: -o-linear-gradient(top, #FF3300, #FF3300);
    padding: 0px;
    height: 40px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.first_li {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 1px solid #DB9370;
}

.next_li {
    border-right: 1px solid #DB9370;
}

.top_menu {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    list-style: none;
    line-height: normal;
}

.top_menu li {
    float: left;
    padding: 12px 8px 11px 8px;
}

.top_menu li:hover {
    color: white;
    background: #3a77f;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#3a77f2', endColorstr='#0f5efc');
    background: -webkit-gradient(linear, left top, left bottom, from(#3a77f2), to(#0f5efc));
    background: -o-linear-gradient(top, #3a77f2, #0f5efc);
}

.top_menu li:hover a {
    color: white;
}

.top_menu li a {
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}

.dodaj {
    font-size: 15px;
    float: right;
    font-weight: bold;
    padding: 12px 18px 10px 18px;
    color: white;
    background: #fec377;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fec377', endColorstr='#ff9408');
    background: -webkit-gradient(linear, left top, left bottom, from(#fec377), to(#ff9408));
    background: -o-linear-gradient(top, #fec377, #ff9408);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.dodaj:hover {
    background: #3994f5;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#e69f47', endColorstr='#d9870b');
    background: -webkit-gradient(linear, left top, left bottom, from(#e69f47), to(#d9870b));
    background: -o-linear-gradient(top, #e69f47, #d9870b);
}

.przerwa {
    margin: 120px auto 0 auto;
    padding: 5px 5px 5px 5px;
    width: 560px;
    clear: both;
    overflow: hidden;
    border: 1px solid #dddddd;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: ;
}

.p_title {
    font-size: 18px;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 3px;
    margin-bottom: 3px;
}

.p_text {
    padding: 0px 5px 5px 5px;
}

.box_list a {
    color: white;
}

.box_list {
    color: white;
    clear: both;
    overflow: hidden;
    box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 1);
    font-size: 14px;
    font-weight: bold;
    background: #3994f5;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#3994f5', endColorstr='#0f5efc');
    background: -webkit-gradient(linear, left top, left bottom, from(#3994f5), to(#0f5efc));
    background: -o-linear-gradient(top, #3994f5, #0f5efc);
    padding: 1px 5px 5px 5px;
}

.box_ogl {
    padding: 10px;
    margin: 10px auto 20px auto;
    width: 961px;
    clear: both;
    overflow: hidden;
    background: #ffffff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.site_search {
    color: white;
    margin: 10px auto 20px auto;
    width: 941px;
    clear: both;
    overflow: hidden;
    padding: 10px;
    background: #FF3300;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FF33000', endColorstr='#FF3300');
    background: -webkit-gradient(linear, left top, left bottom, from(#FF3300), to(#FF3300));
    background: -o-linear-gradient(top, #3994f5, #0f5efc);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.site_body {
    margin: 10px auto;
    width: 1000px;
    clear: both;
    overflow: hidden;
    background: #ffffff;
    padding: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    min-height: 100%;
    position: relative;
}

.site_body_left {
    padding: 10px 5px 10px 0px;
    width: 0px;
    margin: 0 10px 0 0;
}

.site_body_left_blok {
    margin: 0 0 10px 0;
}

.m_title {
    font-size: 16px;
    font-weight: bold;
    width: 200px;
    padding: 5px;
    border: 1px solid #dddddd;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.m_text {
    padding: 15px 10px 10px 10px;
    width: 190px;
    margin-top: -5px;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.site_body_content {
    padding: 10px 10px 10px 5px;
    width: 1000px;
}

.inputt:hover {
    border: 1px solid #64a7be;
}

.inputt {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #dddddd;
    color: black;
    padding: 5px 5px 6px 5px;
    font-size: 14px;
    font-weight: bold;
}

.post {
    width: 1000px;
    margin: 0 0px 20px 20px;
}

.title {
    margin-top: 3px;
    font-size: 18px;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 5px;
    margin-bottom: 3px;
    font-weight: normal;
}

.entry {}

#wiadomosc {
    font-size: 20px;
    font-weight: bold;
    color: #0000FF;
}

#wiadomosc1 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #0000FF;
    padding: 3%;
}

#wiadomosc:hover {
    text-decoration: none;
}

#wiadomosc1:hover {
    text-decoration: none;
}

#telefon {
    font-size: 14px;
    background-color: #0000FF;
    padding: 3%;
    color: #fff;
    font-weight: bold;
}

#telefon:hover {
    text-decoration: none;
}

#telefon_pok {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #0000FF;
    padding: 3%;
}

.site_footer_all {
    clear: both;
    overflow: hidden;
    color: white;
    background: #ffffff;
    padding: 0px;
    margin-top: 140px;
    background: #FF3300;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FF3300', endColorstr='#FF3300');
    background: -webkit-gradient(linear, left top, left bottom, from(#ff9086), to(#FF3300));
    background: -o-linear-gradient(top, #3994f5, #0f5efc);
}

.site_footer {
    margin: 0 auto;
    clear: both;
    overflow: hidden;
    bottom: 0;
    width: 960px;
}

.site_footer a {
    color: white;
    bottom: 0;
}

.site_footer_left {
    float: left;
    width: 740px;
    padding: 5px 5px 10px 0px;
    text-align: left;
}

.site_footer_right {
    float: left;
    width: 200px;
    padding: 0px 0px 0px 0px;
    text-align: right;
    bottom: 0;
}

.site_footer_right a {
    font-weight: bold;
    font-size: 16px;
    bottom: 0;
}

.footer_menu {
    margin: 0px;
    padding: 0px 5px 0 0px;
    list-style: none;
    line-height: normal;
    bottom: 0;
}

.footer_menu li {
    float: left;
    padding: 0px 8px 8px 8px;
    bottom: 0;
}

.footer_menu li a {
    color: white;
    text-decoration: none;
    bottom: 0;
}

.footer_menu li a:hover {
    color: black;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.szukb {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #dddddd;
    color: black;
    padding: 0px;
    font-size: 14px;
    font-weight: bold;
    background: white;
}

.input {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #ffffff;
    color: #4f4f4f;
    padding: 6px;
    font-size: 14px;
    font-weight: bold;
}

.input:hover {
    border: 1px solid #dddddd;
}

.input_opt {
    color: #4a4a4a;
    padding: 2px 0 0px 0;
    font-size: 12px;
}

input[type="submit"] {
    color: white;
    background: #3994f5;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#3994f5', endColorstr='#0f5efc');
    background: -webkit-gradient(linear, left top, left bottom, from(#3994f5), to(#0f5efc));
    background: -o-linear-gradient(top, #3994f5, #0f5efc);
    padding: 5px 5px 5px 5px;
    border: 1px solid;
    border-color: #dddddd;
    font-weight: bold;
    margin: 0 5px 5px 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

input[type="submit"]:hover {
    background: #3a77f2;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#3a77f2', endColorstr='#0f5efc');
    background: -webkit-gradient(linear, left top, left bottom, from(#3a77f2), to(#0f5efc));
    background: -o-linear-gradient(top, #3a77f2, #0f5efc);
}

.szuk_but {
    color: white;
    background: #3994f5;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#3994f5', endColorstr='#0f5efc');
    background: -webkit-gradient(linear, left top, left bottom, from(#3994f5), to(#0f5efc));
    background: -o-linear-gradient(top, #3994f5, #0f5efc);
    padding: 5px 5px 5px 5px;
    border: 1px solid;
    border-color: #dddddd;
    font-weight: bold;
    margin: 0 5px 5px 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.cookie-alert {
    z-index: 1010;
    opacity: 0.9;
    position: fixed;
    bottom: 0px;
    background: ;
    border-top: 1px solid #aaaaaa;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    line-height: 16px;
    width: 100%;
}

.cookie-alert p {
    width: 1000px;
    margin: 0px auto;
    text-align: left;
    line-height: 20px;
    color: black;
}

.blok_menu {
    background: #f1f1f1;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#e8e8e8');
    background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e8e8e8));
    background: -o-linear-gradient(top, #f1f1f1, #e8e8e8);
    padding: 7px 7px 7px 7px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid;
    border-color: #dddddd;
    float: left;
    margin: 0 5px 5px 0;
}

.blok_menu_sel {
    float: left;
    background: #C0C0C0;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#C0C0C0');
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#C0C0C0));
    background: -o-linear-gradient(top, #ffffff, #C0C0C0);
    padding: 7px 7px 7px 7px;
    color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid;
    border-color: #dddddd;
    margin: 0 5px 5px 0;
}

.blok_menu:hover {
    background: #C0C0C0;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#C0C0C0');
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#C0C0C0));
    background: -o-linear-gradient(top, #ffffff, #C0C0C0);
    padding: 7px 7px 7px 7px;
    color: white;
}

.blok_menu:hover a {
    color: white;
}

.blok_menu a {
    font-weight: bold;
    text-decoration: none;
}

.blok_menu_sel:hover a {
    color: white;
}

.blok_menu_sel a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.rating0 {
    background-image: url('images/0.png');
}

.rating1 {
    background-image: url('images/1.png');
}

.rating2 {
    background-image: url('images/2.png');
}

.l_p {
    padding: 5px 5px 5px 5px;
    border: 1px solid #DEDEDE;
    margin: 0px 0 5px 0;
    width: 670px;
}

.l_p a {
    color: black;
    text-decoration: none;
}

.l_p a:hover {
    text-decoration: underline;
}

.l_pr {
    padding: 5px 5px 5px 5px;
    background: #F8FF87;
    border: 1px solid #DEDEDE;
    margin: 0px 0 5px 0;
    width: 670px;
}

div.cookie-alert {
    z-index: 1010;
    opacity: 0.9;
    position: fixed;
    bottom: 0px;
    background: ;
    border-top: 1px solid #aaaaaa;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    line-height: 16px;
    width: 100%;
}

div.cookie-alert p {
    width: 1000px;
    margin: 0px auto;
    text-align: left;
    line-height: 20px;
    color: black;
}

.lis_hei {
    height: 80px;
}

.mob_off {
    display: block;
}

.mob_on {
    display: none;
}

@media only screen and (max-width: 768px) {
    .mob_on {
        display: block;
    }
    .mob_off {
        display: none;
    }
    .lis_hei {
        height: 100%;
    }
    .menu_n {
        float: right;
        position: absolute;
        top: 35px;
        right: 10px;
        width: 40px;
        height: 38px;
        background: url(images/menu_n.png);
        background-size: 40px;
        cursor: pointer;
    }
    #prom_box {
        display: none;
    }
    .site_head_logo {
        background: #0f5efc;
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#3994f5', endColorstr='#0f5efc');
        background: -webkit-gradient(linear, left top, left bottom, from(#3994f5), to(#0f5efc));
        background: -o-linear-gradient(top, #3994f5, #0f5efc);
        margin-bottom: 1px;
    }
    .site_head_logo a {
        color: white;
        font-size: 20px;
    }
    .site_head_logo_right {
        display: none;
    }
    .site_head_logo_left {
        width: 95%;
    }
    .box_ogl {
        display: none;
    }
    .heimm {
        min-height: 100px;
    }
    .site_menu {
        width: 100%;
        display: none;
    }
    .site_search {
        width: 85%;
    }
    .site_search td {
        display: block;
        width: 100%;
        text-align: center;
    }
    .site_footer {
        width: 100%;
    }
    .site_body_content {
        width: 100%;
        overflow: initial;
    }
    .site_body {
        width: 100%;
        overflow: initial;
        min-height: 100%;
    }
    .site_body_left {
        display: none;
    }
    .site_body_right {
        display: none;
    }
    .site_body_content {
        padding: 10px 10px 10px 0px;
        width: 100%;
        float: left;
        overflow: initial;
    }
    .post {
        width: 100%;
        margin: 0 0px 20px 0px;
        overflow: initial;
    }
    .site_head {
        width: 100%;
    }
    #info_alle {
        display: none;
    }
    #cookie_alert {
        display: none;
    }
    .site_head_logo {
        width: 100%;
    }
    .site_head_m {
        width: 100%;
        margin: 0px auto 0px auto;
    }
    .first_li {
        border-right: 0px solid #66acf2;
    }
    .next_li {
        border-right: 0px solid #66acf2;
    }
    .top_menu {
        background: #0f5efc;
        margin: 0px;
        padding: 0px 0px 0px 0px;
        list-style: none;
        line-height: normal;
    }
    .top_menu li {
        background: #0f5efc;
        margin-bottom: 1px;
        width: 100%;
        padding: 12px 8px 11px 8px;
    }
    .dodaj {
        font-size: 15px;
        text-align: center;
        font-weight: bold;
        width: 100%;
        padding: 12px 18px 10px 18px;
        color: white;
        background: #fec377;
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fec377', endColorstr='#ff9408');
        background: -webkit-gradient(linear, left top, left bottom, from(#fec377), to(#ff9408));
        background: -o-linear-gradient(top, #fec377, #ff9408);
    }
}