Options -Indexes +ExecCGI
AddHandler cgi-script .pl
DirectoryIndex awstats.pl

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.nawozorganiczny.com.pl$ [NC]
RewriteRule ^(.*)$ http://nawozorganiczny.com.pl/awstats/$1 [R=301,L]
